*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	background-color: #21B4A2;
}

body{
	width: 80%;
	height: 100vh;
	background-color: #FFFFFF;
	margin: 0px auto;
	padding: 10px 50px;
}


th{
	height:40px;
	width:12%;
}

td,img{
	height: 40px;
}


